/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* universal */
/* line 6, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
html {
  overflow-y: scroll;
}

/* line 10, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
body {
  padding-top: 60px;
}

/* line 14, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
section {
  overflow: auto;
}

/* line 18, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
textarea {
  resize: vertical;
}

/* line 22, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
.center {
  text-align: center;
}

/* line 26, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
.center h1 {
  margin-bottom: 10px;
}

/* typography */
/* line 32, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

/* line 36, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* line 43, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

/* line 52, /home/mikeneko/bbs/app/assets/stylesheets/custom.css.scss */
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* line 1, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/mikeneko/bbs/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
